* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --rows-count: 20;
}

/* ----- Splash screen ----- */
#splash {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 200;
  background: url("./images/splash.jpg") no-repeat center center/cover;
}

#splashHeader {
  font-size: 20vmin;
}

#startBut {
  font-size: 3rem;
  height: 60px;
  width: 180px;
  border-radius: 10px;
  background: #2392db;
  color: #b15204;
  border: 2px solid #111;
  transition: all 0.5s;
  cursor: pointer;
}

/* ----- Arrow Hover settings ----- */
.fade-in span {
  position: relative;
  transition: 0.5s;
}

.fade-in span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.7s;
}

.fade-in:hover span {
  padding-right: 25px;
}

.fade-in:hover span:after {
  opacity: 1;
  right: -10px;
}

/* ----- Splash screen Fade In ----- */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fade-in,
.fade-in2 {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

/*? Scroll bar style */

::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*! ----------------- gamebody -------------- */

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#terrain {
  display: grid;
  grid-template-columns: repeat(200, 1fr);
  grid-template-rows: repeat(var(--rows-count), 1fr);
  background-color: aqua;
  height: 100%;
  width: 82%;
  overflow: auto;
}

.toolsBox {
  visibility: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  /* background-color: brown; */
  height: 100%;
  width: 18%;
  min-width: 230px;
}

.unit {
  min-height: calc(100% / var(--rows-count));
  aspect-ratio: 1/1;
}

.unit:hover {
  border: 1px solid #fff;
}

/** --------------  tools ------------------ */
[Data-tool="shovel"] {
  cursor: url("./images/shovel.png"), auto;
}

[Data-tool="axe"] {
  cursor: url("./images/axe.png"), auto;
}

[Data-tool="pickaxe"] {
  cursor: url("./images/pickaxe.png"), auto;
}

.tool2 {
  border: 1px solid black;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.tool {
  cursor: pointer;
  border: 2px solid transparent;
}

.tools .current {
  border-color: red;
}

/** --------------- bank ------------------- */
.bank {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.bank div {
  margin: 0.3rem 0.8rem;
  aspect-ratio: 1/1;
  /* min-width: 60px; */
}

.bank div span {
  color: red;
  padding-left: 4px;
  font-size: 2rem;
  font-weight: bold;
}

.bank-dirt {
  background: url("./images/dirt1.jpeg") no-repeat center center/cover;
}

.bank-grass {
  background: url("./images/grass.jpg") no-repeat top center/cover;
}

.bank-rock {
  background: url("./images/rock.jpg") no-repeat center center/cover;
}

.bank-tree {
  background: url("./images/tree.png") no-repeat center center/cover;
}

.bank-treeLeafs {
  background: url("./images/leafs.jpg") no-repeat center center/cover;
}

/*! units style */
.emptySky {
  background: aqua;
}

.emptyGround {
  background: peru;
}

[Data-type="cloud"] {
  background: #fff;
}

[Data-type="treeLeafs"] {
  background: url(./images/leafs.jpg) no-repeat center center/cover;
}

[Data-type="tree"] {
  background: url(./images/tree.webp) no-repeat center center/cover;
}

[Data-type="rock"] {
  background: url(./images/rock.webp) no-repeat center center/cover;
}

[Data-type="grass"] {
  background: url(./images/grass.webp) no-repeat center center/cover;
}

[Data-type="dirt"] {
  background: url(./images/dirt.webp) no-repeat center center/cover;
}

/*! smaller screens */
@media (max-width: 850px) {
  .container {
    flex-direction: column;
  }

  #terrain {
    height: 83%;
    width: 100%;
  }
  .toolsBox {
    height: 17%;
    min-height: 100px;
    width: 100%;
    /* max-height: 230px; */
    /* max-width: unset; */
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 2fr;
  }

  .tools {
    gap: 0.7rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* .unit {
    min-height: calc(80vh / var(--rows-count));
    min-height: calc(100% / var(--rows-count));
    aspect-ratio: 1/1;
  } */

  .bank div {
    margin: 0;
    max-width: 40px;
  }

  .bank div span {
    font-size: 1rem;
  }
}
